{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "printWidth": 80,
  "jsxSingleQuote": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "endOfLine": "crlf",
  "useTabs": false,
  "singleAttributePerLine": true
}
